# Force these text files to use LF
*.sh text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.py text eol=lf
*.pyi text eol=lf
*.js text eol=lf
*.json text eol=lf

# Force these text files to use CRLF
*.bat text eol=lf
*.cmd text eol=lf
*.md text eol=lf
