{% extends 'base_sup.html' %} 
{% block content %} {% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
       
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
        <!-- Leaflet CSS and JS -->
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css" 
        integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI=" crossorigin="" />
        <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js" 
        integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM=" crossorigin=""></script>
      
        <!-- Leaflet Draw CSS and JS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.4/leaflet.draw.css" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.4/leaflet.draw.js"></script>
    
        <!-- Custom CSS -->
        <link rel="stylesheet" href="{% static 'css/style.css' %}" />

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>

        <link
        rel="stylesheet"
        href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
        integrity="sha384-6DBIkDzKj1PHw3gW8skvQoAQ5KoG5ru5Ot1WmYvFxBn96yO9SB+4+W4A7WuL4izU"
        crossorigin=""/>
    
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.7.1/leaflet.css" integrity="sha512-1xhdQwMzS8Ly+5ZCvSk/Z9oGt92uI1FUpy2+vcD7zTkXXw06ivV8WgZ+flv7dX9tMJPCT8YENWQOv+7OxNwHvw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.7.1/leaflet.js" integrity="sha512-PnX6fRPjq/LiYD6rsRv6LZx6PZyoLCejr3q1ZDDtzAVT9T1TzT8OGpVEyTjjntPtd+bGwIzgm1orDjZi2QX6UQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/leaflet.marker.bouncing/dist/leaflet.marker.bouncing.min.js"></script>
    
    
    <script type="text/javascript"
            src="https://cdn.jsdelivr.net/gh/hosuaby/Leaflet.SmoothMarkerBouncing@v3.0.2/dist/bundle.js"
            crossorigin="anonymous"></script>

    </head>

    <body style='background-color:#deccad;'>
        <div class=" text-center" >
            <div class="row" style="width:1450px;" >
                <div class="col-3">
                    <div class="card mb-3" style="margin-left: 20px; ">
                        <div class="row align-items-center">
                            <div class="col text-center">
                              <h5 class="card-title" style="color:rgb(51, 77, 4); font-family:subset; font-weight:bold; margin:0 auto; text-align:right;">Projects List</h5>
                            </div>
                            <div class="col-auto">

                                <button class="btn btn-danger shadow-none"  style='  font-size: 8px; background-color:darkyellow; color:white;width:20px; height:30px; display:flex; justify-content:center; align-items:center; margin-right:40px;margin-top:5px;' onclick="location.href='{% url 'add_project' supervisor_obj.pseudo %}'"> <i class="fa-solid fa-plus" style="color:white; font-size:30px;"></i></button>
 
                            </div>
                          </div>
                        <div class="card-body">
                         
                          {% for proj in projects %}
                          <div class="card mb-2 " style="background-color: #deccad; display: flex; flex-direction: column; border: 1px solid #4F4F4F ;">
                            <div class="card-body text-vert">
                              <h6 class="card-subtitle mb-2 " style="text-align:center; color:rgb(51, 77, 4); font-family:subset;"><strong>Project name:</strong> {{ proj.nomp }}</h6>
                              <h6 class="card-subtitle mb-2 text-muted" style="text-align:center; color:rgb(51, 77, 4); font-family:subset;"> <strong>Project ID:</strong> {{ proj.polygon_id }}</h6>
                              <div class="d-inline-flex" style='margin-left:20px;'>
                                <button class="btn btn-dark shadow-none" onclick="location.href='{% url 'display_polygone' proj.supervisorp.pseudo proj.polygon_id %}'" style="font-size: 10px; font-family:subset; font-weight:bold; background-color:#2F3922;">see plot</button>
                                <button class="btn btn-outline-success" name="button_2" style="font-size: 10px; color: darkgreen; font-family:subset; font-weight:bold;" onclick="location.href='{% url 'all' proj.supervisorp.pseudo proj.polygon_id %}'">Last</button>
                              </div>
                            </div>
                          </div>
                          {% endfor %}
                          </div>
                        </div>

                </div>

                <div class="col-3"  style="background-color: #FFFFFF;width: 1087px; height: auto; border-radius: 10px;margin-left: 0.5;">
                    <form method="POST">
                    {% csrf_token %} 

                        
                        <h4 style=" font-family:subset; margin-bottom:5px;margin-top:20px; "> <strong style="color: #A26A25;">Details Of Project: </strong>{{ project.nomp }}</h4>
                    
                        <p>
                            <label style='font-size:10px;'>Click Here To Display Nodes Information </label><br>
                            <button style="margin-bottom: 3px; font-family:subset;font-weight:bold; background-color:#2F3922;" type="button" class="btn btn-dark shadow-none"  data-bs-toggle="collapse" data-bs-target="#collapseWidthExample" aria-expanded="false" aria-controls="collapseWidthExample">
                                Information
                            </button>
                          </p>

                          <div style="display: flex; justify-content: center; align-items: center;">
                        <div class="row" >
                        
                          {% for d in nodee %}
                          <div class="col-3 collapse " id="collapseWidthExample"style=" border: 1px solid rgb(70, 69, 69) ; width: 200px; height: 340px; margin-left: 10px; border-radius: 10px; margin-top: 8px; margin-right: 10px;" >
                            

                                <p class="card-subtitle mb-2 text-muted" style="text-align:center; color:rgb(51, 77, 4);"><strong style='color:#A26A25;'>Node Name: </strong>{{ d.nom }}</p>
                                <hr>
                                <p class="card-subtitle mb-2 text-muted" style="text-align:center; color:rgb(51, 77, 4);"><strong>Node reference: </strong>{{ d.reference }}</p>
                                <p class="card-subtitle mb-2 text-muted" style="text-align:center; color:rgb(51, 77, 4);"><strong>Node Position: </strong>{{ d.latitude  }},{{ d.longitude  }}</p>
                                <!-- <p class="card-subtitle mb-2 text-muted" style="text-align:center; color:rgb(51, 77, 4);"><strong>Related Project: </strong>{{ d.polyg.nomp  }}</p> -->
                                <p class="card-subtitle mb-2 text-muted" style="text-align:center; color:rgb(51, 77, 4);"><strong>Node RSSI: </strong>{{ d.RSSI }}</p>
                                <p class="card-subtitle mb-2 text-muted" style="text-align:center; color:rgb(51, 77, 4);"><strong>Duty cycle: </strong>{{ 'Every 1 Min' }}</p>
                                <p class="card-subtitle mb-2 text-muted" style="text-align:center; color:rgb(51, 77, 4);"><strong>Battery level: </strong>{{ d.Battery_value }}</p>
                               <hr> 
                                <p class="card-subtitle mb-2 text-muted" style="text-align:center; color:rgb(51, 77, 4);">
                                  {% if d.status == 'DOWN' %}
                                  <p><strong>Status: </strong><span style="color:green; font-weight:bold">{{ d.status }}</span></p>
                              {% elif d.status == 'MODERATE' %}
                                  <p><strong>Status: </strong><span style="color:blue; font-weight:bold">{{ d.status }}</span></p>
                              {% elif d.status == 'HIGH' %}
                                  <p><strong>Status: </strong><span style="color:yellow; font-weight:bold">{{ d.status }}</span></p>
                              {% elif d.status == 'VERY HIGH' %}
                                  <p><strong>Status: </strong><span style="color:orange; font-weight:bold">{{ d.status }}</span></p>
                              {% elif d.status == 'EXTREME' %}
                                  <p><strong>Status: </strong><span style="color:red; font-weight:bold">{{ d.status }}</span></p>
                              
                              {% elif d.status == 'UNKNOWN' %}
                                  <p><strong>Status: </strong><span style="color:black; font-weight:bold">{{ d.status }}</span></p>
                              {% endif %}                              
                                </p>
                              </div>
                            {% endfor %}
  
                            </div>
                       </div>

                       <div style="display: flex; justify-content: center; align-items: center;">
                          <div class="row">

                                {% for node_data in nodes_data %}
                                <div class="col-3" style=" border: 1px solid rgb(70, 69, 69) ; background-color: #deccad; width: 200px; height: 240px; margin-left: 10px; border-radius: 10px; margin-top: 8px; margin-right: 10px;" >
                                      
                                    
                                    <p style='font-weight:bolder; margin-bottom:-10px;'><strong><a style="color: rgb(79, 78, 78);" href="{% url 'update' project.polygon_id %}"">Weather Information of node : </a></strong>{{ node_data.node_instance.nom }}</p><hr>
                                    <p><strong>Temperature : </strong>{{ node_data.data.temperature }}°C</p>
                                    <p><strong>Humidity : </strong>{{ node_data.data.humidity }}%</p>
                                    <p><strong>Wind Speed : </strong>{{ node_data.data.wind }} km/h</p>
                                    <p><strong>Rain Volume : </strong>{{ node_data.data.rain }} mm</p>
                            
                                </div>
                                {% endfor %}
                          </div>

                        </div>


                        <div style="display: flex; justify-content: center; align-items: center;">
                            <div class="row" >
                                {% for ldn0 in ldn %} 
                                <div class="col-3" style=" border: 1px solid rgb(70, 69, 69) ; background-color: #deccad; width: 200px; height: 80px; margin-left: 10px; border-radius: 10px; margin-top: 8px; margin-right: 10px;" >
                                    <h6 style='font-weight:bolder; margin-bottom:-10px;'><strong>Prediction result</strong></h6>  <hr>
                        
                              
                              <div id="status">
                                {% if ldn0.node.status == 'DOWN' %}
                                    <p><strong>Status: </strong><span style="color:green; font-weight:bold">{{ ldn0.node.status }}</span></p>
                                {% elif ldn0.node.status == 'MODERATE' %}
                                    <p><strong>Status: </strong><span style="color:blue; font-weight:bold">{{ ldn0.node.status }}</span></p>
                                {% elif ldn0.node.status == 'HIGH' %}
                                    <p><strong>Status: </strong><span style="color:yellow; font-weight:bold">{{ ldn0.node.status }}</span></p>
                                {% elif ldn0.node.status == 'VERY HIGH' %}
                                    <p><strong>Status: </strong><span style="color:orange; font-weight:bold">{{ ldn0.node.status }}</span></p>
                                {% elif ldn0.node.status == 'EXTREME' %}
                                    <p><strong>Status: </strong><span style="color:red; font-weight:bold">{{ ldn0.node.status }}</span></p>
                                {% elif ldn0.node.status == 'UNKNOWN' %}
                                    <p><strong>Status: </strong><span style="color:black; font-weight:bold">{{ ldn0.node.status }}</span></p>            
                                {% endif %}
                                </div>
                        
                                 
                          </div>
                          {% endfor %}
                        </div>
                    </div>


                        <div class='col-6 rounded ' id="map" style="width: 1070px;height: 700px;box-sizing:border-box; margin-top: 20px;  margin-bottom: 10px;border-radius: 50px; border: 1px solid rgb(9, 0, 0) ;">
                            <div class="leaflet-control"></div>
                        </div>
             
                        {% comment %} <label for="geomp">Geometry:</label>
                        <input type="text" id="geomp" name="geomp" value="{{ project.geomp }}" readonly><br><br>
                          {% endcomment %}
          

                    </form>

                </div>

          
            </div>


        </div>

        

        <script src="https://cdn.jsdelivr.net/npm/leaflet.marker.bouncing/dist/leaflet.marker.bouncing.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/leaflet.marker.bouncing/dist/leaflet.marker.bouncing.min.js"></script>


 <script>
      var geojson_str = "{{ project.geomp.json|escapejs }}";
      var geojson = JSON.parse(geojson_str);
      {% comment %} var status = "{{ node.status }}";
      console.log('status  :::',status) {% endcomment %}



 
      var map = L.map('map').setView([{{ project.geomp.centroid.y }}, {{ project.geomp.centroid.x }}], 12);


      L.tileLayer('http://server.arcgisonline.com/ArcGIS/rest/services/World_Imagery/MapServer/tile/{z}/{y}/{x}', {
        attribution: 'Tiles © Esri — Source: Esri, i-cubed, USDA, USGS, AEX, GeoEye, Getmapping, Aerogrid, IGN, IGP, UPR-EGP, and the GIS User Community'
    }).addTo(map);

        L.geoJSON(geojson).addTo(map);

  
        var fireIcon = L.icon({
          iconUrl: '/static/images/fire3.png',
          iconSize: [50, 50],
          iconAnchor: [19, 19],
          popupAnchor: [0, -19]
          });
    
    {% for d in ldn %}
    
        var coords = JSON.parse(geojson_str).coordinates;
    var first_coords = coords[0][0];
    
    console.log("{{ d.node.node_range}}")
        var polygonOne = { 
          "type": "Polygon",
          "coordinates": [
              coords[0][{{ d.node.node_range}}-1]
          ]
        };

                                        var statusn = "{{ d.node.status }}";
                                        console.log('----------node :',"{{node.nom}}"  ,'statusnnnn',statusn)

                                        var colorn = "";
                                      

                                      if (statusn === "DOWN") {
                                        colorn = "green";
                                            
                                      } else if (statusn === "MODERATE") {
                                        colorn = "blue";
                                         
                                      } else if (statusn === "HIGH") {
                                        colorn = "yellow";
                                      } else if (statusn === "VERY HIGH") {
                                        colorn = "orange";
                                      } else if (statusn === "EXTREME") {
                                        colorn = "red";
                                      } else {
                                        colorn = "black";
                                      }
             var latest_data = "<strong>Node name :</strong> {{ d.node.nom }} <br><strong>Ref:</strong> {{ d.node.reference }} <br><strong>Node Position:</strong> <br>Latitude : {{ d.node.latitude }} <br> Longitude : {{ d.node.longitude }}<br> <strong>RSSI:</strong> {{ d.node.RSSI }}<br> <strong>Battery level:</strong> {{ d.node.Battery_value }} <br> <strong>FWI:</strong> {{ d.node.FWI }} <br> <strong>Predection result:</strong> <br><span style='color:" + colorn + ";font-weight:bold;'>" + statusn + "</span>  <br><strong>Temperature:</strong> {{ d.temperature }} <br> <strong>Humidity:</strong> {{ d.humidity }} <br> <strong>Wind_speed:</strong> {{ d.wind }} <br>"
                                     
              var marker = L.marker([{{ d.node.position.y }}, {{ d.node.position.x }}]).bindPopup(latest_data).addTo(map);   
              
              
              status = "{{ d.node.status}}" ;
              console.log( status )
              var color;
                  if (status == "DOWN") {
                      color = "green";
                  } else if (status == "MODERATE") {
                     color = "blue";
                  } else if (status == "HIGH") {
                      color = "yellow";
                  } else if (status == "VERY HIGH") {
                      color = "orange";
                  } else if (status == "EXTREME") {
                      color = "red";
                       {% comment %} marker.setIcon(fireIcon);
                      marker.bounce(-1);  {% endcomment %}
                  } else {
                      color = "black";
                  }
  
        var polygonLayer = L.geoJSON(polygonOne, { style: { color: color, fillOpacity: 0.5 } }).addTo(map);
        polygonLayer.setStyle({ color: color });
        polygonLayer.bindTooltip("Polygon " +  {{d.node.node_range}} +" Of Project: "+"{{d.node.polyg.nomp}}");
  
  
    {% endfor %}
     
    </script>

    <script>
  
        $(document).ready(function() {
  
            setInterval(function() {
              
                $.ajax({
                  
                    url: "{% url 'update_weather' project.polygon_id %}",
                    type: "GET",
                    success: function(dataa) {
                     //data = data_list[0];
                     //console.log('iiiiiiiiiii')
                     status = dataa.status;
                     if (status === "DOWN") {
                         color = "green";
                     } else if (status === "MODERATE") {
                        color = "blue";
                     } else if (status === "HIGH") {
                         color = "yellow";
                     } else if (status === "VERY HIGH") {
                         color = "orange";
                     } else if (status === "EXTREME") {
                         color = "red";
                     } else {
                         color = "black";
                     }
                     polygonLayer.setStyle({ color: color });                   
     
                     if (status === "EXTREME") {
                           marker.setIcon(fireIcon)
                           marker.bounce(5);
     
                         } else {
                           marker.setIcon(null);
                           marker.stopBouncing();
                          } 
                          
     
                          
                        $('#weather-info').html(
                            '<div class="card-body">' +
                               '<p><strong>Temperature:</strong> ' + dataa.temperature + '°C</p>' +
                               '<p><strong>Humidity:</strong> ' + dataa.humidity + '%</p>' +
                               '<p><strong>Wind Speed:</strong> ' + dataa.wind + ' km/h</p>' +
                            '</div>'
                        );
                        $('#rssi').html(
                          
                               '<p><strong>RSSI: </strong>' + dataa.RSSI +' </p>' 
                        );
     
                         $('#fwi').html('<p><strong>FWI: </strong>' + dataa.fwi + '</p>');
     
     
     
                         if (dataa.status == 'DOWN') {
                             $('#status').html('<p><strong>Status: </strong><span style="color:green; font-weight:bold">' + dataa.status + '</span></p>');
                         } else if (dataa.status == 'MODERATE') {
                             $('#status').html('<p><strong>Status: </strong><span style="color:blue; font-weight:bold">' + dataa.status + '</span></p>');
                         } else if (dataa.status == 'HIGH') {
                             $('#status').html('<p><strong>Status: </strong><span style="color:yellow; font-weight:bold">' + dataa.status + '</span></p>');
                         } else if (dataa.status == 'VERY HIGH') {
                             $('#status').html('<p><strong>Status: </strong><span style="color:orange; font-weight:bold">' +dataa.status+ '</span></p>');
                         } else if (dataa.status == 'EXTREME') {
                             $('#status').html('<p><strong>Status: </strong><span style="color:red; font-weight:bold">' + dataa.status + '</span></p>');
                         }                   
     
     
                    },
                    error: function(xhr, status, error) {
                        console.log("An error occurred: " + xhr.status + " " + xhr.statusText);
                    }
                });
            }, 5000); // refresh every 5 seconds
        });
       </script> 
  
 
    

  
    </body>

</html>
{% endblock %}