
{% extends 'base.html' %} {% block content %}
{% load static %}
<body class="bg-img" >
    <center>
<div class="containerr" style=" margin-top: 200px; margin-bottom: 300px;">

        <style>
            .card select {
                margin-right: 5px;
                background-color: #FAF8FF;
                border: 1px solid #CCCCCC;
                padding: 5px;
                font-size: 12px;
                width: 80%;
                margin-bottom: 10px;
            }
    
            .card button {
                font-size: 10px;
                background-color: darkgreen;
                color: #FFFFFF;
                border: none;
                padding: 10px 13px;
                border-radius: 5px;
                cursor: pointer;
            }
        </style>

        
            <div class="card" style="width: 30rem;">
                <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
                <div class="card-body">
                  <h5 class="card-title" style="font-family: 'subset'; font-weight: bolder; "> CLIENT :  {{client.nom}}</h5>
                  <img src="{%static 'images\farmer.jpg'%}"  width="160px" height="130px" />
                   {% comment %} <a class="btn btn-dark  mx-auto d-block" style='  font-size: 15px; background-color: darkgreen;' href="{% url 'connectasclient' %}" class="btn btn-primary">connect as client</a> {% endcomment %}
                   <form method="POST">
                    {% csrf_token %} 

                   <div class=""><br/>
                    <h6 style='font-size:10px;' >Select Project You Want To Supervize:</h6>
                    <select name="proj" style="margin-right: 5px; background-color:#FAF8FF;">
                        {% for proj in projects %}
                        <option value="{{ proj.polygon_id }}">Project ID: {{ proj.polygon_id }}</option>
                        {% endfor %}
                    </select>
                </div>
            

            
            {% comment %} <button class="btn btn-dark  mx-auto d-block" style='  font-size: 10px; background-color: darkgreen; margin-top : 10px; border-raduis:20px;' type="submit" value="save" >
                Visualize
              </button> {% endcomment %}

              <button class="btn btn-dark shadow-none add-project-btn" style="width: 30%; margin-bottom: 20px; border-radius: 20px; background-color:darkgreen;" type="submit" value="save"><i class="fa-solid fa-eyes"></i>
                
                Visualize</button>


            </form>
                </div>
              </div>

        </div>
    </div>

    
</div>
</center>
</body>

{% endblock %}