{% extends 'base.html' %} 
{% block content %} {% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
       
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
        <!-- Leaflet CSS and JS -->
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css" 
        integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI=" crossorigin="" />
        <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js" 
        integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM=" crossorigin=""></script>
      
        <!-- Leaflet Draw CSS and JS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.4/leaflet.draw.css" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.4/leaflet.draw.js"></script>
    
        <!-- Custom CSS -->
        <link rel="stylesheet" href="{% static 'css/style.css' %}" />

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>

    </head>

    <body class="bg-img">
        <div class="container text-center" style="margin-left: 0.5px;">
            <div class="row" style="width:1450px;" >
                <div class="col-3" >
                    <div class="card mb-3" style="margin-left: 45px;">
                        <div class="card-header">
                          <h5 class="card-title" style="text-align:center; color:rgb(51, 77, 4);">Projects List</h5>
                         </div>
                        <div class="card-body">
                         
                          {% for proj in projects %}
                          <div class="card mb-2 " style="background-color: #d4d6d8; display: flex; flex-direction: column;">
                            <div class="card-body text-vert">
                              <h6 class="card-subtitle mb-2 text-muted" style="text-align:center; color:rgb(51, 77, 4);">Project name: {{ proj.nomp }}</h6>
                              <h6 class="card-subtitle mb-2 text-muted" style="text-align:center; color:rgb(51, 77, 4);">Project ID: {{ proj.polygon_id }}</h6>
                              <button class="btn btn-dark  mx-auto d-block"  onclick="location.href='{% url 'display_polygone' proj.supervisorp.pseudo proj.polygon_id %}'" style="margin-bottom: 3px;">see polygon</button>
                              <button class="btn btn-dark  mx-auto d-block" name="button_2" style='  font-size: 8px; background-color: darkgreen;' onclick="location.href='{% url 'all' proj.supervisorp.pseudo proj.polygon_id %}'"> SEE all details</button>
                               </div>
                          </div>
                          {% endfor %}
                          </div>
                        </div>

                </div>

                <div class="col-3"  style="background-color: #FFFFFF;width: 800px; border-radius: 10px;margin-left: 0.5;">
                    <form method="POST">
                    {% csrf_token %} 

                        <h4>ALL Details Of Project: {{ project.nomp }}</h4>
                        

                        <!-- <div style="border: 1px solid rgb(7, 7, 7) ; height: 150px; width: 350px; margin-top: 50px;">
                   
                          <h3><a href="{% url 'update' %}""> live Data</a></h3>
                          
                          <h4 id="display"> </h4>
                          <h4>Wind Speed :{{post_instance.wind_speed}}</h4>
                          <!-- <h4>location : {{location}}</h4> -->
                          <!-- <h4>weather : {{weather}}</h4> -->
                          <!-- <h4>temperature_owm : {{temperature_owm}}</h4> -->
                          <!-- <h4>humidity_owm : {{humidity_owm}}</h4> -->
      
                        <!-- </div>  -->

                        <div class="col-3" style=" border: 1px solid rgb(70, 69, 69) ; width: 250px; height: 150px; margin-left: 33px; border-radius: 10px; margin-top: 8px; margin-right: 60px;" >
                    
                   
                          <h4 style="margin-bottom: 1px;"><a href="{% url 'update' %}""> live Data</a></h4>
                          
                          <h5 id="display"> </h5>
                          <h5>Wind Speed :{{post_instance.wind_speed}} km/h</h5>
                          <h5>Rain Volume:{{post_instance.rain_volume}} mm</h5>
                        
                  </div>



                         
                           <!-- <button class="btn btn-dark  mx-auto d-block" name="b_add_N" style='  font-size: 10px; margin-top: 20px;' onclick="location.href='{% url 'addnode' project.supervisorp.pseudo project.polygon_id %}'"> Add Another Node</button> -->
                        <div class='col-6 rounded ' id="map" style="width: 700px;height: 500px; box-sizing:border-box; margin-top: 5px;  border-radius: 50px; border: 1px solid rgb(9, 0, 0) ;">
                            <div class="leaflet-control"></div>
                        </div>
             
                        <label for="geomp">Geometry:</label>
                        <input type="text" id="geomp" name="geomp" value="{{ project.geomp }}" readonly><br><br>
                         
                        <br>
                        {% comment %} {% for d in node %}
                        <label for="lat">Latitude:</label>
                        <input type="text" id="latitude" name="latitude" value="{{ d.latitude }}" readonly><br>

                        <label for="lng">Longitude:</label>
                        <input type="text" id="longitude" name="longitude" value="{{ d.longitude }}" readonly><br><br>
                        {%endfor%} {% endcomment %}


                    </form>

                </div>

                
            <div class="col-2" style="width: 285px;" >
                <div class="card mb-3" style="margin-left: 10px;">
                    <div class="card-header">
                      <h5 class="card-title" style="text-align:center; color:rgb(51, 77, 4);">Nodes List</h5>
                     </div>
                     
                     <button class="btn btn-dark  mx-auto d-block"  onclick="location.href='{% url 'ALL_node' project.supervisorp.pseudo project.polygon_id %}'">see nodes details</button>
                    <div class="card-body">
                     
                      {% for d in nodee %}
                      <div class="card mb-2 " style="background-color: #d4d6d8; display: flex; flex-direction: column;">
                        <div class="card-body text-vert">
                          <h6 class="card-subtitle mb-2 text-muted" style="text-align:center; color:rgb(51, 77, 4);"><h5>Node Name: </h5>{{ d.nom }}</h6>

                          <!--<button class="btn btn-dark  mx-auto d-block" name="button_2" style='  font-size: 8px; background-color: darkgreen;' onclick="location.href='#'"> SEE all details</button> -->
                           </div>
                      </div>
                      {% endfor %}
                      </div>
                    </div>

            </div>


            </div>


        </div>

   
    <script>
      var geojson_str = "{{ project.geomp.json|escapejs }}";
var geojson = JSON.parse(geojson_str);

var map = L.map('map').setView([{{ project.geomp.centroid.y }}, {{ project.geomp.centroid.x }}], 12);

L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
}).addTo(map);

// FeatureGroup is to store editable layers
var drawnItems = new L.FeatureGroup();
map.addLayer(drawnItems);

var drawControl = new L.Control.Draw({
    draw: {
        polygon: {
            shapeOptions: {
                color: 'purple'
            },
        },
        polyline: {
            shapeOptions: {
                color: 'red'
            },
        },
        rect: {
            shapeOptions: {
                color: 'green'
            },
        },
        circle: {
            shapeOptions: {
                color: 'steelblue'
            },
        },
    },
    edit: {
        featureGroup: drawnItems
    }
});
map.addControl(drawControl);

// Add the existing polygon to the map and the editable layer group
var polygon = L.geoJSON(geojson, {
    onEachFeature: function (feature, layer) {
        drawnItems.addLayer(layer);
    }
}).addTo(map);



{% for node in nodee %}
    var yass = L.marker([{{ node.position.y }}, {{ node.position.x }}]).addTo(map);
    var latlng = yass.getLatLng();
    console.log('--latlng',latlng)
    // console.log('--name {{node.nom}}')
    yass.bindPopup("<b>Node Name</b><br> {{ node.nom }} "   + "<br><b>Node Position</b><br>Latitude: " + latlng.lat + "<br>Longitude: " + latlng.lng).openPopup();
    {% endfor %}

// Listen for draw:edited event to update the server-side data with the modified geometry
map.on('draw:edited', function (e) {
    var layers = e.layers;
    layers.eachLayer(function (layer) {
        // You can now get the modified geometry with layer.toGeoJSON().geometry
        // and send it to your server to update your data
    });
});



    </script>

    <script>
      $(document).ready(function(){
          
          setInterval(function(){
            
            $.ajax({
              type:'GET',
              url : "{% url 'getTemp' %}",
              success: function(response){
                
                $("#display").empty();
                for (var key in response.TEMP)
                {
                  
                  var temp = "<h5>" + "temperature: " + response.TEMP[key].temperature+"°C" + "<br>humidity: " + response.TEMP[key].humidity+"%" + "</h5>";
                 // $("#display").append(temp); 
                $("#display").html(temp);  

                                  // Get the temperature and humidity values
                        var temperature = response.TEMP[key].temperature;
                        var humidity = response.TEMP[key].humidity;

                        // Change the polygon color based on the temperature and humidity values
                        if (temperature > 30 && humidity < 30) {
                          polygon.setStyle({
                            fillColor: 'red'
                            , fillOpacity: 0.5, color:'red'
                          });
                        } else if (temperature <= 30 && humidity >= 30) {
                          polygon.setStyle({
                            fillColor: 'green', fillOpacity: 0.5 ,color:'green'
                          });
                        } else {
                          polygon.setStyle({
                            fillColor: 'yellow', fillOpacity: 0.5,color:'yellow'
                          });
                        }
                   
                }
              },
              error: function(reponse){
                
                alert("an error occured");
              }
            });
          },1000);
        });
      </script>

    </body>

</html>
{% endblock %}