{% extends 'base.html' %} {% block content %}
{% load static %}

<style>
  body.bg-img {
    background-image: url("{%static 'index\images\1.jpg'%}");
    background-repeat: no-repeat;
    background-size: cover;
  }
</style>

<body class="bg-img" >
    <div class="  text-center" style="margin-top: 340px; margin-left: 200px; margin-right: 200px;">
        <form  class=" bg-light shadow-lg p-6 mb-6 rounded w-auto mt-5 p-3 h-auto">
          <h6 style='font-family:Verdana, Geneva, Tahoma, sans-serif; font-weight: bolder;  color: #423A25; font-size: 15px;'>Password reset sent
            We've e-mailed you instructions for setting your password, if an account exists with the e-mail address you entered. You should receive them shortly.
            If you don't receive an e-mail, make sure you've entered the address you registered with and check your spam folder.</h6>
        </form>
    </div>
</body>

{% endblock %}
