{% extends 'base.html' %} {% block content %}
{% load static %}

<style>
  body.bg-img {
    background-image: url("{%static 'index\images\1.jpg'%}");
    background-repeat: no-repeat;
    background-size: cover;
  }
</style>

<body class="bg-img" >
<div  style="margin-top: 100px; ">
    <div class="container">
        <form method="POST" class="bg-light mt-5 p-3 shadow-lg p-6 mb-6 rounded">
            {% csrf_token %}
          <h2>Réinitialisation du mot de passe</h2>
          <div class="  text-center">
            <div style="font-size:25px">{{ form  }}<button
              class="mt-2 btn btn-outline-primary my-2 my-sm-0 fs-2"        
              type="submit"
            >
              envoyer
            </button></div>
          </div>
        </form>
    </div>
</div>
</body>

{% endblock %}
