{% extends 'base.html' %} {% block content %}
{% load static %}

<style>
  body.bg-img {
    background-image: url("{%static 'index\images\1.jpg'%}");
    background-repeat: no-repeat;
    background-size: cover;
  }
</style>

<body class="bg-img" >
    <div class="h-100 p-5 mt-5 mb-5">
        <div class="container">
            <form method="POST"       id="form"
            class="shadow-lg p-6 mb-6 rounded mt-5 ps-5 p-4 bg-light w-auto h-auto"
            >
        
            {% csrf_token %}
            <div class=" d-flex align-items-center">
              <h5>Créer un nouveau mot de passe:</h5>
              <div class="fs-5">{{ form.new_password1 }}</div>
              <h5>Comfirmer le mot de passe:</h5>
              <div class="fs-5">{{ form.new_password2 }}</div>
              <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">
                Envoyer
              </button>
            </div><div style="color:red">
            {{ form.new_password1.errors }}
            {{ form.new_password2.errors }}</div>
          </form>
        </div>
        </div>
</body>

{% endblock %}
