{% extends 'base.html' %} {% block content %}
{% load static %}

<style>
  body.bg-img {
    background-image: url("{%static 'index\images\1.jpg'%}");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .center-form {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px 20px;
  }
</style>

<body class="bg-img" >
  <center>
<div  style="margin-top: 220px;"  >
    
        <form method="POST" id="form" class="shadow-lg p-6 mb-8 mt-5 rounded center-form" style='background-color: white; '>
            {% csrf_token %}
          <h3 class="text-center mb-4" style='font-family:Verdana, Geneva, Tahoma, sans-serif; font-weight: bolder; font-weight: bolder; color: #423A25;'>Password reset</h3>
          <div class="  text-center">
            <div style="font-size:20px; font-family:Verdana, Geneva, Tahoma, sans-serif; margin-left: -70px;" >{{ form  }} </div>
              <br>
              <button
               class="btn btn-dark" style='border-radius:20px; width:30%; background-color: #423A25; color:#C3B8B6; font-size: 14px; font-family: Verdana, Geneva, Tahoma, sans-serif; font-weight: bolder; '       
              type="submit">
              Submit
            </button>
          </div>
        </form>
    </div>

</center>
</body>

{% endblock %}
