{% extends 'base.html' %} 
{% block content %}
{% load static %}

<style>
  body.bg-img {
    background-image: url("{% static 'index/images/1.jpg' %}");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  form {
    width: 400px;
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 5px;
  }

  form h2 {
    margin-bottom: 10px;
  }

  form h4 {
    margin-bottom: 10px;
  }

  form h6 {
    margin-top: 10px;
  }
</style>

<body class="bg-img">
  <div class="container">
    <form method="POST" class="bg-light p-3 mt-5 text-center shadow-l mb-6 rounded w-auto h-auto">
      {% csrf_token %}
      <h2>Reset Password Confirmation</h2>
      <h4>Your password has been successfully reset.</h4>
      <h6>
        <a href="{% url 'connectas' %}" style="color: green;">Click here</a> to login with your new password.
      </h6>
    </form>
  </div>
</body>

{% endblock %}
