{% extends 'base.html' %} 
{% block content %}
{% load static %}

<style>
  body.bg-img {
    background-image: url("{% static 'index/images/1.jpg' %}");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  form {
    width: 400px;
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 5px;
  }

  form h5 {
    margin-bottom: 10px;
    font-weight: bolder;
  }

  form input[type="password"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border-radius: 3px;
    border: 1px solid #ced4da;
  }

  form button[type="submit"] {
    width: 30%;
    padding: 8px;
    background-color: #423A25;
    color: #C3B8B6;
    border: none;
    border-radius: 20px;
    font-size: 14px;
    font-weight: bolder;
    margin-left: 160px;
  }

  .error-message {
    color: red;
    margin-top: 10px;
  }
</style>

<body class="bg-img">
  <div class="container">
    <form method="POST" id="form">
      {% csrf_token %}
      <div>
        <h5>Create a new password:</h5>
        <div>{{ form.new_password1 }}</div>
      </div>
      <div>
        <h5>Confirm password:</h5>
        <div>{{ form.new_password2 }}</div>
      </div>
      <div>
        <button type="submit" class="btn btn-dark">Submit</button>
      </div>
      <div class="error-message">
        {{ form.new_password1.errors }}
        {{ form.new_password2.errors }}
      </div>
    </form>
  </div>
</body>

{% endblock %}
