{% extends 'base.html' %} {% block content %}
{% load static %}

<style>
  body.bg-img {
    background-image: url("{%static 'index\images\1.jpg'%}");
    background-repeat: no-repeat;
    background-size: cover;
  }
</style>

<body class="bg-img" >
    <div class="container">
        <form  class=" bg-light shadow-lg p-6 mb-6 rounded w-auto mt-5 p-3 h-auto">
          <h3 >Réinitialisation du mot de passe envoyée
              Nous vous avons envoyé par e-mail des instructions pour définir votre mot de passe, si un compte existe avec l'e-mail que vous avez saisi. Vous devriez les recevoir sous peu.
              Si vous ne recevez pas d'e-mail, assurez-vous d'avoir entré l'adresse avec laquelle vous vous êtes inscrit et vérifiez votre dossier spam.
            </h3>
        </form>
    </div>
</body>

{% endblock %}
