{% extends 'base.html' %} {% block content %}
{% load static %}

<style>
  body.bg-img {
    background-image: url("{%static 'index\images\1.jpg'%}");
    background-repeat: no-repeat;
    background-size: cover;
  }
</style>

<body class="bg-img" >
    <div class="container">
        <form method="POST" class="bg-light p-3 mt-5  text-center shadow-l mb-6 rounded w-auto h-auto">
            {% csrf_token %}
              <h2>
                Réinitialiser la confirmation du mot de passe</h2>
              <h4>Votre mot de passe a été réinitialisé avec succès.</h4>
              <h6>
                <a href="{% url 'connectasclient' %}">Cliquez ici</a>pour vous connecter avec votre nouveau
                mot de passe.
              </h6>
        </form>
    </div>
</body>

{% endblock %}
